<div class="adwpfw-field">

    {% block label %}

        <div class="adwpfw-label">
            <label for="{{ prefix }}-{{ field.form }}-field-{{ field.id }}">{{ field.label }}</label>
        </div>

    {% endblock %}

    {% block desc %}

        <div class="adwpfw-help-tip adwpfw-tooltip dashicons dashicons-editor-help"
            {% if field.desc %} style="visibility: visible" {% endif %}>
            {% if field.desc %}
                <span class="tooltiptext">{{ field.desc }}</span>
            {% endif %}
        </div>

    {% endblock %}

    <div class="adwpfw-control">

        {% block control %}

            <input type="text" class="{{ field.class }}"
                   id="{{ prefix }}-{{ field.form }}-field-{{ field.id }}"
                   name="{{ prefix }}[{{ field.form }}][{{ field.id }}]"
                   placeholder="{{ field.placeholder }}"
                   value="{{ field.value }}">

        {% endblock %}

    </div>

</div>
