<tr>

    {% if field.label %}

        <th>

            {% block label %}

                <label for="{{ prefix }}-{{ field.form }}-field-{{ field.name }}">{{ field.label }}</label>

            {% endblock %}

        </th>

    {% endif %}

    <td {% if not field.label %} colspan="2" {% endif %}>

        {% block control %}
        {% endblock %}

        {% block desc %}

            {% if field.desc %}
                <span class="description">{{ field.desc }}</span>
            {% endif %}

        {% endblock %}

    </td>

</tr>
