<tr>
    <th>

        {% block label %}

            <label for="{{ prefix }}-{{ field.form }}-field-{{ field.id }}">{{ field.label }}</label>

        {% endblock %}

    </th>

    <td>

        {% block control %}

            <input type="text" class="{{ field.class }}"
                   id="{{ prefix }}-{{ field.form }}-field-{{ field.id }}"
                   name="{{ prefix }}[{{ field.form }}][{{ field.id }}]"
                    {% if field.required %} required {% endif %}
                   value="{{ field.value }}">

        {% endblock %}

        {% block desc %}

            {% if field.desc %}
                <span class="description">{{ field.desc }}</span>
            {% endif %}

        {% endblock %}

    </td>
</tr>
