<tr class="form-field">

    {% if field.label %}

        <th scope="row">

            {% block label %}

                <label for="{{ prefix }}-{{ field.form }}-field-{{ field.name }}">{{ field.label }}</label>

            {% endblock %}

        </th>

    {% endif %}

    <td {% if not field.label %} colspan="2" {% endif %}>

        {% block control %}
        {% endblock %}

        {% block desc %}

            {% if field.desc %}
                <p class="description">{{ field.desc }}</p>
            {% endif %}

        {% endblock %}

    </td>
</tr>
