<div class="{{ prefix }}-tab">

    {% if tab.form %}

        <form class="{{ prefix }}-form">

            <div class="{{ prefix }}-fields">

                {% for field in tab.fields %}

                    {% include 'fields/' ~ field.tpl ~ '.twig' with {field: field} %}

                {% endfor %}

            </div>

            <div class="{{ prefix }}-actions-bar">

                <button id="{{ prefix }}-button-save" type="submit" class="button button-primary">Save changes</button>

            </div>

        </form>

    {% else %}

        <div class="{{ prefix }}-fields">

            {% for field in tab.fields %}

                {% include 'fields/' ~ field.tpl ~ '.twig' with {field: field} %}

            {% endfor %}

        </div>

    {% endif %}

</div>