<table class="{{ prefix }}-cat-order">
    {% for id, name in categories %}
        <tr data-id="{{ id }}">
            <td>
                {{ name }}
            </td>
            <td>
                <select>
                    <option value="">Select</option>
                    <option value="date" {% if values[id].orderby == 'date'  %} selected {% endif %}>Date</option>
                    <option value="title" {% if values[id].orderby == 'title'  %} selected {% endif %}>Title</option>
                </select>
            </td>
            <td>
                <input type="checkbox" {% if values[id].desc  %} checked {% endif %}>DESC
            </td>
        </tr>
    {% endfor %}
</table>
<input type="hidden" value='{{ value }}' {{ data_attr }}>