{% extends field.layout %}

{% block control %}

    <div class="{{ prefix }}-radio">

        {% for item in items %}

            <label>

                <input type="radio"
                       id="{{ prefix }}-{{ field.form }}-field-{{ field.id }}"
                       name="{{ prefix }}[{{ field.form }}][{{ field.id }}]"
                        {% if field.value == item.value %} checked {% endif %}>

            </label>

            <br>

        {% endfor %}

    </div>

{% endblock %}
