{% extends 'layouts/' ~ field.layout ~ '.twig' %}

{% block control %}

    <input type="hidden" name="{{ prefix }}[{{ field.form }}][{{ field.name }}]" value="">

    <select class="adwpfw-select2 {{ field.class }}"
            id="{{ prefix }}-{{ field.form }}-field-{{ field.name }}"
            name="{{ prefix }}[{{ field.form }}][{{ field.name }}]{% if field.multiple %}[]{% endif %}"
            {% if field.required %} required {% endif %}
            {% if field.ajax_action %} data-ajax-action="{{ field.ajax_action }}" {% endif %}
            {% if field.multiple %} multiple {% endif %}
            data-placeholder="{{ field.placeholder }}"
            data-min-chars="{{ field.min_chars }}"
            data-min-items-for-search="{{ field.min_items_for_search }}">

        {% for option in field.options %}
            <option value="{{ option.value }}" {{ option.selected }}>{{ option.label }}</option>
        {% endfor %}

    </select>

{% endblock %}
