<div class="wrap {{ prefix }}">

    <header>
        {{ header }}
    </header>

    <nav class="tabs-header nav-tab-wrapper">
        {% for tab in tabs %}
            <span class="nav-tab">{{ tab.name }}</span>
        {% endfor %}
    </nav>

    {% for tab in tabs %}
        <div class="tab">

            {% if tab.form %}

                <form class="{{ prefix }}-settings">

                    {{ tab.content }}

                    <div class="actions-bar">

                        <button id="{{ prefix }}-button-save" type="submit" class="button button-primary">Save changes</button>

                        {% for button in tab.buttons %}
                            <button id="{{ prefix }}-button-{{ button.id }}" class="button {% if button.primary %} button-primary {% endif %} {{ button.classes }}">{{ button.caption }}</button>
                        {% endfor %}

                        <div class="{{ prefix }}-ajax-messages"></div>

                    </div>

                    <input type="hidden" name="{{ prefix }}[menu_slug]" value="{{ id }}">

                </form>

            {% else %}
                {{ tab.content }}

                <div class="actions-bar">
                    {% for button in tab.buttons %}
                        <button id="{{ prefix }}-button-{{ button.id }}" class="button {% if button.primary %} button-primary {% endif %} {{ button.classes }}" title="{{ button.title }}">{{ button.caption }}</button>
                    {% endfor %}
                    <div class="{{ prefix }}-ajax-messages"></div>
                </div>

            {% endif %}
        </div>
    {% endfor %}

</div>