<div class="field {{ classes }}" {{ dependencies }}>
    <div class="label">
        <label for="field-{{ id }}">{{ name }}</label>
    </div>
    <div class="input">
        <input id="field-{{ id }}" class="form-control" type="number" name="{{ prefix }}[{{ id }}]" value="{{ value }}" min="{{ min }}" max="{{ max }}" step="{{ step }}">
        {% if desc %}
            <div class="description">{{ desc }}</div>
        {% endif %}
    </div>
</div>
