<div class="field {{ classes }}" {{ dependencies }}>
    <div class="label">
        <label>{{ name }}</label>
    </div>
    <div class="{{ prefix }}-checkbox-group">

        {% for item in items %}
            <label for="field-{{ item.id }}-{{ item.value }}">
                <input id="field-{{ item.id }}-{{ item.value }}" type="radio" name="{{ item.id }}" value="{{ item.value }}" {{ item.checked }}>&nbsp;&nbsp;{{ item.label }}
            </label>
            <br>
        {% endfor %}

        {% if desc %}
            <div class="description">{{ desc }}</div>
        {% endif %}
    </div>
</div>
