<div class="field {{ classes }}" {{ dependencies }}>

    <div class="label">
        <label for="field-{{ id }}">{{ name }}</label>
    </div>

    <div class="input">

        <select id="field-{{ id }}" class="form-control" {% if multiple %}multiple{% endif %}
                name="{{ prefix }}[{{ id }}]{% if multiple %}[]{% endif %}">
            {% for item in items %}
                <option value="{{ item.value }}" {{ item.selected }}>{{ item.label }}</option>
            {% endfor %}
        </select>

        {% if desc %}
            <div class="description">{{ desc }}</div>
        {% endif %}

    </div>

</div>
