<div class="field {{ classes }}" {{ dependencies }}>

    <div class="label">
        <label for="field-{{ id }}">{{ name }}</label>
    </div>

    <div class="input">

        <input id="field-{{ id }}" class="form-control" type="text" name="{{ prefix }}[{{ id }}]" value="{{ value }}">

        {% if desc %}
            <div class="description">{{ desc }}</div>
        {% endif %}

    </div>

</div>
